@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color:hsl(210, 46%, 95%);
}

.container {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    margin: 16rem auto;
}

.big-image {
    max-width: 40%;
    overflow: hidden;
}

.main-image {
    flex: 1;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.information {
    margin-left: -3.5rem;
    width: 60%;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
}

.primary-heading {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: hsl(217, 19%, 35%);
}

.secondary-heading {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: rgb(109, 127, 151);
    margin-bottom: 1rem;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    color: rgb(109, 127, 151);
}

.icon-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: baseline;
}
.personal-info {
    margin-left: -4rem;
}

.name {
    font-size: 0.9rem;
    font-weight: 700;
}

.date {
    font-size: 0.9rem;
    font-weight: 500;
}

.share-icon {
    float: right;
    color: #fff;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    padding: 0.6rem;
}

.social-links {
    display: none;
    flex-direction: row;
    color: #fff;
    background-color: hsl(217, 19%, 35%);
    padding: 2rem;
    border-radius: 0 0 10px 10px;
}

.social-links p {
    color: hsl(212, 23%, 69%);
    margin-right: 1.5rem;
    letter-spacing: 0.5rem;
}
